@media print {
    @page  {
        size: A4 portrait;
    }
    .column-box {
        background-color: #5C5C5C;
    }
    .column-box.black {
        background-color: black;
    }
    .column-box.black h1 {
        color: white;
        margin-bottom: 1rem;
    }
    .column-box.black a {
        color: #DDDDDD;
        font-size: max(12px, calc(5px + 1vw));
    }
    .addBtn {
        display: none;
    }
}