* {
    font-family: "Poppins", sans-serif;
}
#app {
    max-width: 1000px;
}
img {
    width: inherit;
    aspect-ratio: 1/1;
    border-radius: 12px;
    object-fit: cover;
}
.column-box {
    padding: calc(1vw + 1vh);
    background-color: #F0F0F0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    transition: all 0.3s;
}
img {
    transition: all 0.3s;
}
.column-box:hover, img:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}
.column-box.black {
    background-color: black;
}
.column-box.black h1 {
    color: white;
    margin-bottom: 1rem;
}
.column-box.black a {
    color: #DDDDDD;
    font-size: max(12px, calc(5px + 1vw));
}
.addLanguageBtn {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}
.column-box:hover .addLanguageBtn {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, visibility 0s 0s;
}
h1 {
    font-weight: 500;
    line-height: 150%;
    font-size: max(14px, calc(10px + 1vw));
    margin-bottom: 2vh;
}
section {
    margin: 5vh 0;
}
section#name-row p {
    font-size: max(10px, calc(5px + 1vw));
}
.name {
    font-weight: 600;
    font-size: max(14px, calc(9px + 1vw)) !important;
    margin: 0;
}
small.profession {
    color: #5C5C5C;
    font-size: max(12px, calc(5px + 1vw)) !important;
}
.langKnowledge {
    margin-bottom: 1vh;
}
.langKnowledge span {
    font-size: max(10px, calc(7px + 1vw)) !important;
    font-weight: 500;
}
.langScale {
    background-color: #28D979;
    border-radius: 6px;
    height: 22px;
}
.hoverablePlaceholder {
    width: 100%;
    border: 2px dashed #5C5C5C;
    transition: all 0.5s;
}
.hoverablePlaceholder:hover {
    background-color: #d2d1d1;
    cursor: pointer;
}
.hoverablePlaceholder.dark:hover {
    color: black;
}
.hoverablePlaceholder.dark {
    text-decoration: none;
    display: block;
}
input[type='text'] {
    width: 100%;
}
.addLanguageBtn {
    /*background-color: #28D979;*/
    /*color: white;*/
    font-weight: 600;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1/1;
}