* {
    font-family: "Poppins", sans-serif;
}
#app {
    max-width: 1000px;
}
img {
    width: inherit;
    aspect-ratio: 1/1;
    border-radius: 12px;
    object-fit: cover;
}
.column-box {
    padding: calc(1vw + 1vh);
    background-color: #F0F0F0;
    box-sizing: border-box;
    width: 100%;
    border-radius: 12px;
    transition: all 0.3s;
}
img {
    transition: all 0.3s;
}
.column-box:hover, img:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}
.column-box.black {
    background-color: black;
}
.column-box.black h1 {
    color: white;
    margin-bottom: 1rem;
}
.column-box.black a {
    color: #DDDDDD;
    font-size: max(12px, calc(5px + 1vw));
}
.addBtn {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}
.column-box:hover .addBtn {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, visibility 0s 0s;
}
h1 {
    font-weight: 500;
    line-height: 150%;
    font-size: max(14px, calc(10px + 1vw));
    margin-bottom: 2vh;
}
section {
    margin: 5vh 0;
}
section#name-row p {
    font-size: max(10px, calc(5px + 1vw));
}
.name {
    font-weight: 600;
    font-size: max(14px, calc(9px + 1vw)) !important;
    margin: 0;
}
small.profession {
    color: #5C5C5C;
    font-size: max(12px, calc(5px + 1vw)) !important;
}
.langKnowledge {
    margin-bottom: 1vh;
}
.langKnowledge span {
    font-size: max(10px, calc(5px + 1vw)) ;
    text-wrap: wrap;
    font-weight: 500;
}
.langScale {
    background-color: #28D979;
    border-radius: 6px;
    height: 22px;
}
.hoverablePlaceholder {
    width: 100%;
    border: 2px dashed #5C5C5C;
    transition: all 0.5s;
}
.hoverablePlaceholder:hover {
    background-color: #d2d1d1;
    cursor: pointer;
}
.hoverablePlaceholder.dark:hover {
    color: black;
}
.hoverablePlaceholder.dark {
    text-decoration: none;
    display: block;
}
input[type='text'] {
    width: 100%;
}
.addBtn {
    font-weight: 600;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all 0.2s; !important;
}
.addBtn:hover {
    background-color: black;
    color: white;
}
.interestsInput {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.interest, .interestsInputSingle {
    background-color: white;
    border-radius: 40px;
    padding: 4px 10px;
    margin-right: 0.5rem;
}

#interestsPlaceholder {
    display: flex;
    flex-wrap: wrap;  /* Allow interests to wrap onto the next line */
    gap: 8px;  /* Space between each interest */
    overflow-y: auto; /* Allows scrolling if there are too many interests */
}
.hashtags span {
    margin-right: 0.5rem;
    font-size: max(8px, calc(4px + 0.7vw)) !important;
}
.hashtags span:before {
    content: '#';
}
.educationBox {
    width: 45%;
    background-color: white;
    border-radius: 10px;
    padding: 8px;
    font-size: max(10px, calc(5px + 1vw));
    margin: 0 5% 5% 0;
}
.educationBox.favorite, .educationBox.favorite span, .experienceBox.favorite,.experienceBox.favorite small {
    background-color: #28D979;
    color: white; !important;
}
.mostRecent {
    display: none;
}
.favorite .mostRecent {
    height: 100%;
    border-radius: 59px;
    padding: 2px 0.5rem;
    display: inline;
    background-color: #7E731266;
    color: #DDF163;
    font-size: max(8px, calc(4px + 0.7vw));
}
.heartIcon {
    display: none;
}
div.favorite .heartIcon {
    display: inline;
    height: 2.5vh;
}
.educationBox .year {
    font-weight: 500;
    margin-bottom: 0;
}
.educationBox .specialty {
    font-weight: 500;
    margin: 0;
}
.educationBox span {
    color: #149063;
    font-size: max(10px, calc(5px + 0.8vw));
}
.educationBox .firm {
    margin: 0;
    font-size: max(10px, calc(5px + 0.8vw));
}
.professionName {
    margin-bottom: 1rem;
}
.occupationTitle {
    font-size: max(10px, calc(6px + 1vw));
    font-weight: 600;
    margin-bottom: 0;
}
.occupationSubtitle {
    color: gray;
    font-size: max(8px, calc(-2px + 1vw));
}
li {
    font-size: max(8px, calc(-2px + 1vw));
}
.experienceBox {
    padding: 2%;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 2vh;
}
.experienceBox:last-of-type {
    margin-bottom: 0;
}
.toolBox {
    width: 100%;
    background-color: white;
    border-radius: 6px;
}
.toolboxName {
    font-size: max(7px, calc(4px + 0.4vw));
    padding: max(2px, calc((4px + 0.4vw)/3)) max(6px, calc(4px + 0.2vw));
    background-color: black;
    color: white;
    position: relative;
    top: -0.65rem;
    border-radius: 59px;
    white-space: nowrap;
}

#dropZone.dragover {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #333;
}

#imagePreviewContainer, .toolIcons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.toolBox {
    padding: 15px;
}
#imagePreviewContainer img, .toolIcons img {
    width: 40%;
    border-radius: 16px;
    object-fit: cover;
}
#toolsPlaceholder div {
    margin-bottom: 2vh;
}
#toolsPlaceholder div:last-of-type {
    margin-bottom: 0;
}
.toolIcons img {
    max-width: 65px;
}
